<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/Blog.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca|Indie+Flower|Playfair+Display" rel="stylesheet">
	<script src="https://use.fontawesome.com/a104245403.js"></script>
</head>
<body>
	<% include ../Metadata/navbar %>

