<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="code icon"></i>  Blog</div>
		<a class="item" href="/">Home</a>
<<<<<<< HEAD
		<!-- <a class="item" href="/blog/new">New Post </a> -->
=======
		<a class="item" href="/blog/new">New Post </a>
>>>>>>> 039decdfbd810144727e35c4dae7c93ddab552dd
	</div>
</div>