<div class="ui fixed inverted menu">
	<div class="ui container">
		<div class="header item"><i class="code icon"></i>  Blog</div>
		<a class="item" href="/">Home</a>
		<!-- <a class="item" href="/blog/new">New Post </a> -->
	</div>
</div>